.about-banner {
  background: url("/banners/hex2rgb.jpg") no-repeat center -100px;
  background-size: cover;
  height: 280px;
  position: relative;
  left: 0;
  top: 0; }

.player {
  position: absolute;
  left: 0;
  top: 0;
  height: 280px;
  width: 100%; }

/* Top Info */
#title {
  font-size: 20px; }

/* Controls */
#playBtn {
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0;
  margin-top: 9px;
  height: 40px;
  width: 40px;
  transform: translateX(-50%); }

#pauseBtn {
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  margin: 0;
  margin-top: 9px;
  height: 40px;
  width: 40px;
  transform: translateX(-50%); }

#prevBtn {
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  left: 0; }

#nextBtn {
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  right: 0; }

#playlistBtn {
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px; }

#volumeBtn {
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px; }

/* Progress */
#waveform {
  width: 100%;
  height: 30%;
  position: absolute;
  left: 0;
  top: 50%;
  margin: -15% auto;
  display: none;
  cursor: pointer;
  opacity: 0.8;
  -webkit-user-select: none;
  user-select: none; }

#waveform:hover {
  opacity: 1; }

#bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  opacity: 0.9; }

#progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1; }

/* Loading */
#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -35px;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  display: none; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

/* Plylist */
#playlist {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }

#list {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.list-song {
  height: 21px;
  font-size: 20px;
  line-height: 20px;
  margin: 8px 0 0 0; }

.list-song:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer; }

/* Volume */
#volume {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  touch-action: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: none; }

.bar {
  position: absolute;
  top: 50%;
  left: 5%;
  margin: -5px auto;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33); }

#barEmpty {
  width: 90%;
  opacity: 0.5;
  box-shadow: none;
  cursor: pointer; }

#barFull {
  width: 90%; }

#sliderBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 93.25%;
  margin: -25px auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
  border-radius: 25px;
  cursor: pointer; }

/* Fade-In */
.fadeout {
  webkit-animation: fadeout 0.5s;
  -ms-animation: fadeout 0.5s;
  animation: fadeout 0.5s; }

.fadein {
  webkit-animation: fadein 0.5s;
  -ms-animation: fadein 0.5s;
  animation: fadein 0.5s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-ms-keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
